@font-face {
  font-family: 'Fira Sans';
  src: url('/fonts/FiraSans/FiraSans-Light.eot');
  src: local('Fira Sans Light'),
  url('/fonts/FiraSans/FiraSans-Light.eot') format('embedded-opentype'),
  url('/fonts/FiraSans/FiraSans-Light.woff') format('woff'),
  url('/fonts/FiraSans/FiraSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('/fonts/FiraSans/FiraSans-Regular.eot');
  src: local('Fira Sans Regular'),
  url('/fonts/FiraSans/FiraSans-Regular.eot') format('embedded-opentype'),
  url('/fonts/FiraSans/FiraSans-Regular.woff') format('woff'),
  url('/fonts/FiraSans/FiraSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('/fonts/FiraSans/FiraSans-Medium.eot');
  src: local('Fira Sans Medium'),
  url('/fonts/FiraSans/FiraSans-Medium.eot') format('embedded-opentype'),
  url('/fonts/FiraSans/FiraSans-Medium.woff') format('woff'),
  url('/fonts/FiraSans/FiraSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('/fonts/FiraSans/FiraSans-Bold.eot');
  src: local('Fira Sans Bold'),
  url('/fonts/FiraSans/FiraSans-Bold.eot') format('embedded-opentype'),
  url('/fonts/FiraSans/FiraSans-Bold.woff') format('woff'),
  url('/fonts/FiraSans/FiraSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}