extends ../../_template

block variables
    - var title = 'Страница обо мне'

block content
    .wrapper
        header.header
            .header__top
                ul.socials.socials_white
                    li.socials__item
                        a.socials__link(href='https://vk.com/andre.bakhvalov' target='_blank')
                            svg.socials__img(xmlns="http://www.w3.org/2000/svg" width="30.01" height="17.12")
                                path(d="M27.63 5.83c-3.04 4.03-3.36 3.66-.86 6 2.4 2.22 2.9 3.3 2.98 3.44 0 0 1 1.75-1.1 1.76l-4 .07c-.87.17-2-.6-2-.6-1.5-1.04-2.92-3.7-4-3.37 0 0-1.13.36-1.1 2.77 0 .5-.24.8-.24.8s-.27.3-.82.34h-1.8c-3.95.25-7.43-3.4-7.43-3.4S3.45 9.72.1 1.85c-.23-.5 0-.76 0-.76s.24-.3.9-.3L5.28.76c.4.07.7.3.7.3s.24.16.36.5c.7 1.74 1.6 3.33 1.6 3.33C9.53 8.1 10.6 8.64 11.2 8.32c0 0 .78-.5.6-4.38-.05-1.4-.44-2.04-.44-2.04-.36-.5-1.03-.63-1.33-.68-.23-.03.16-.6.67-.84.77-.38 2.13-.4 3.74-.38 1.26.02 1.62.1 2.1.2 1.5.37 1 1.74 1 5.05 0 1.07-.2 2.55.55 3.03.32.22 1.13.04 3.13-3.37 0 0 .94-1.62 1.68-3.5.13-.35.4-.5.4-.5s.25-.13.6-.08L28.4.8c1.35-.2 1.57.44 1.57.44.23.64-.5 2.14-2.34 4.6z")
                    li.socials__item
                        a.socials__link(href='https://github.com/device25' target='_blank')
                            svg.socials__img(xmlns="http://www.w3.org/2000/svg" width="26" height="22")
                                path(d="M25.05 17.42C22.98 21.6 17.3 22 13.25 22 9.12 22 3.1 21.64.97 17.42.17 15.84 0 13.98 0 12.25c0-2.28.63-4.44 2.13-6.2-.3-.85-.43-1.75-.43-2.64 0-1.17.27-2.34.8-3.4 2.47 0 4.05 1.08 5.92 2.55C10 2.17 11.62 2 13.25 2c1.47 0 2.95.16 4.38.5C19.48 1.05 21.05 0 23.5 0c.53 1.06.8 2.23.8 3.4 0 .9-.14 1.8-.43 2.63C25.38 7.8 26 9.97 26 12.25c0 1.73-.17 3.58-.95 5.17zM18.5 10.5c-1.03 0-2.02.2-3.05.33-.8.12-1.62.17-2.45.17s-1.64-.05-2.45-.17c-1.02-.14-2.02-.33-3.05-.33-2.55 0-4 2.1-4 4.5 0 4.78 4.38 5.52 8.2 5.52h2.6c3.83 0 8.2-.74 8.2-5.52 0-2.4-1.45-4.5-4-4.5zM8 18c-1.4 0-2-1.86-2-3s.6-3 2-3 2 1.86 2 3-.6 3-2 3zm10 0c-1.4 0-2-1.86-2-3s.6-3 2-3 2 1.86 2 3-.6 3-2 3z")
                    li.socials__item
                        a.socials__link(href='https://linkedin.com/in/andrey-bakhvalov-472355114' target='_blank')
                            svg.socials__img(xmlns="http://www.w3.org/2000/svg" width="24" height="22.94")
                                path(d="M2.88 5.34h-.04C1.1 5.34 0 4.16 0 2.67 0 1.17 1.16 0 2.9 0 4.68 0 5.78 1.16 5.8 2.67c.02 1.5-1.1 2.67-2.9 2.67zm2.57 17.6H.3V7.44h5.15v15.5zm18.55 0h-5.14v-8.28c0-2.08-.75-3.5-2.6-3.5-1.43 0-2.28.95-2.65 1.87-.12.35-.16.8-.16 1.27v8.64H8.3c.06-14.03 0-15.5 0-15.5h5.14v2.26h-.03c.68-1.06 1.9-2.6 4.68-2.6 3.4 0 5.92 2.22 5.92 6.97v8.87z")
                nav.header__nav
                    button.nav__button
                        svg(xmlns="http://www.w3.org/2000/svg" width="40" height="35" viewBox="0 0 40 35")
                            path(fill="#FFF" d="M40 2.5C40 4 39 5 37.5 5h-35C1 5 0 4 0 2.5 0 1 1 0 2.5 0h35C39 0 40 1 40 2.5zM40 17.5c0 1.4-1 2.5-2.5 2.5h-35C1 20 0 19 0 17.5 0 16 1 15 2.5 15h35c1.4 0 2.5 1 2.5 2.5zM40 32.5c0 1.4-1 2.5-2.5 2.5h-35C1 35 0 34 0 32.5 0 31 1 30 2.5 30h35c1.4 0 2.5 1 2.5 2.5z")
            .header__middle
                .welcome.welcome_transparent
                    .welcome__img(style="background-image: url(/img/avatar.jpg)")
                        img(src="/img/avatar.jpg" alt="avatar")
                    .welcome__name Андрей Бахвалов
                    .welcome__desc Личный сайт веб разработчика
            .header__bottom
                button.header__scroll
                    svg(xmlns="http://www.w3.org/2000/svg" width="25.18" height="16.16" viewBox="0 0 25.18 16.164")
                        path(fill="#FFF" d="M13.3 15.87c-.4.4-1.02.4-1.4 0L.3 4.3c-.4-.4-.4-1.04 0-1.43L2.9.3c.38-.4 1-.4 1.4 0l8.3 8.3L20.9.3c.38-.4 1-.4 1.4 0l2.6 2.57c.38.4.38 1.03 0 1.42L13.3 15.86z")
        main.about
            .about__left
                h1.title ОБО МНЕ
                img.about__img(src="/img/avatar.jpg" alt="avatar")
                h2.title.title_bold КТО Я
                .about__desc
                    p Всем привет! Меня зовут Андрей Бахвалов. Закончил кафедру социологии в университете МПГУ.
                    p Люблю путешествовать, открывать для себя новые места, новых людей, каждый раз удивляться непохожести и единству людей. Очень люблю горы, катаюсь на горном велосипеде.
                    p Занимаюсь веб разработкой с февраля 2016 года. Мои ключевые навыки:
            .about__right
                h2.title ЧЕМ Я МОГУ БЫТЬ ВАМ ПОЛЕЗЕН
        footer.footer
            .footer__top
                .footer__left
                .footer__midle
                .footer__right
            .footer__bottom
                span.footer__copyright © Андрей Бахвалов | Создано с любовью в LoftSchool | 2016