//var colors
$wrapper_bgc: #ebefe2;

//var proportions
$container_width: 1200px;
$font-size: 16px;

//plugins
@import "../../node_modules/normalize.css/normalize.css";

//adjustments
@import "_misc/mixins";
@import "_misc/adjustments";
@import "_misc/fonts";
@import "_misc/sprite";

//styles
@import "sections/welcome-page";
@import "sections/footer";
@import "sections/header";
@import "sections/about";