.footer__top {
  background-color: rgba(#373E42, .851);
}

.footer__bottom {
  background-color: rgba(#6C9C5A, .851);
  text-align: center;
  color: #fff;
  font-weight: 300;
  padding-top: 5px;
  padding-bottom: 10px;
}