.portfolio {
	padding-left: 3px;
	@include tablets {
		padding: 0;
	}
}
.portfolio__list {
	padding-top: 3px;
	padding-left: 2px;
	columns: rem(213px);
	-moz-columns: rem(213px);
	-webkit-columns: rem(213px);
	@include tablets {
		padding: 0;
	}
}
.portfolio__item {
	display: inline-block;
	margin-bottom: rem(20px);
	transition: .2s;
	-webkit-transition: .2s;
	width: 100%;
	// &:nth-child(3n+4) {
	// 	clear: left;
	// }
	&:hover {
		.label__name {
			color: $red;
			transition: .2s;
			-webkit-transition: .2s;
		}
		.label_portfolio {
			box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
			border-radius: 10px;		
			transition: .2s;
			-webkit-transition: .2s;
		}
	}
}
.portfolio__link {
	display: block;
	text-decoration: none;
}
.label_portfolio {
	font-family: Fira Sans;
	text-align: left;
	width: 100%;
	overflow: hidden;
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
	.label__top {
		height: auto;
	}
	.label__bottom {
		background-color: #fff;
		padding: rem(12px) rem(18px);
	}
	.label__name {
		font-weight: 400;
		font-size: rem(21px);
		color: $blue;
		transition: .2s;
		-webkit-transition: .2s;
	}
	.label__desc {
		font-weight: 300;
		font-size: rem(14px);
		color: $black;
		padding-left: rem(2px);
	}
}
.portfolio__img {
	height: rem(173px);
	background-size: cover;
	background-position: 50%;
	img {
		display: none;
	}
}
.portfolio__type {
	font-family: Fira Sans;
	font-weight: 700;
	font-size: rem(14px);
	color: #aeaeae;
	padding-left: rem(2px);
	padding-top: rem(13px);
	margin-bottom: rem(3px);
	.fa {
		font-size: rem(18px);
		padding-right: rem(2px);
	}
}