.sidebar {
	float: left;
	width: 25%;
	@include tablets {
		float: none;
		width: 100%;
		margin-bottom: rem(30px);
	}
}
.nav {
	padding-right: rem(15px);
	@include tablets {
		padding-right: 0;
	}	
}
.nav__list {
	text-align: right;
	font-family: Fira Sans;
	font-weight: 400;
	.fa {
		padding-right: rem(4px);
		@include phones {
			display: none;
		}
	}
	@include tablets {
		text-align: left;
	}
}
.nav__item {
	@include tablets {
		display: inline-block;
	}
}
.nav__item_active {
	.nav__link {
		color: $blue;
		font-weight: 700;
		border-right: 6px solid $blue;
		padding-right: rem(24px);
		@include tablets {
			border-right: none;
			padding-right: rem(20px);
		}
	}
}
.nav__link {
	display: block;
	text-decoration: none;
	color: $black;
	padding: rem(10px) rem(30px) rem(10px) 0;
	transition: .2s;
	-webkit-transition: .2s;
	&:hover {
		color: $blue;
		transition: .2s;
		-webkit-transition: .2s;
	}
	@include tablets {
		padding-right: rem(20px);
	}
}